.questionList {
  font-size: 16px;
  margin-right: 8px;
  line-height: 1;
}

.questionOpened {
  transform: rotate(90deg);
}

.questionItem {
  p {
    &:first-of-type {
      margin-top: 8px;
    }
    &:last-of-type {
      margin-bottom: 48px;
    }
  }
}

.questionItemTitle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 14px;
}
