.itemWrap {
  border-bottom: 1px solid #c9c9c9;
  padding: 1rem 10px 1rem 0;

  &:last-child {
    border-bottom: 0;
  }
}

.mainWrap {
  display: flex;
  justify-content: space-between;
}

.titleWrap {
  display: flex;
  margin-bottom: 4px;
  color: var(--text-dark);

  .mainText {
    margin-right: 10px;
  }
}

.innerTitleWrap {
  display: flex;

  .socialIcon {
    margin-right: 10px;
    width: 18px;
  }
}

.mainText {
  font-weight: bold;
}

.subText {
  font-size: 14px;
}

.alt {
  color: #929292;
}

.clickable {
  cursor: pointer;
}
