.itemWrapper {
  border-bottom: 1px solid #c9c9c9;
}

.itemWrapperActive {
  background-color: var(--active-stakes-item-bg);
}

.item {
  display: flex;
  gap: 10px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: var(--active-stakes-item-bg);
  }
}

.icon {
  width: 18px;
  margin-right: 10px;
  margin-left: 8px;
}

.tableItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0;
  padding: 12px 0;
}

.mainText {
  font-weight: bold;
}

.itemIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;
  font-size: 14px;
  line-height: 1;
  pointer-events: none;

  .itemWrapperActive & {
    transform: rotate(90deg) translateX(-50%);
  }
}
