.itemWrapper {
  border-bottom: 1px solid #c9c9c9;
}

.itemWrapperActive {
  background-color: #F3FCFE;
}

.item {
  display: flex;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background-color: #F3FCFE;
  }
}

.icon {
  width: 18px;
  margin-right: 10px;
  margin-left: 8px;
}


.tableItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0;
  padding: 12px 0;
}

.mainText {
  font-weight: bold;
}
