.positionWrapper {
  margin-bottom: 40px;
}

.spacing {
  flex: 0 0 auto;
  width: 16.6666666%;
}

.spacingInput {
  flex: 0 0 auto;
  width: calc(16.6666666% * 2);

  input {
    max-width: 70%;
  }
}

.item {
  display: flex;
  //gap: 10px;
}

.tableItem {
  composes: tableItem from "./Item.module.scss";
  //padding: 10px 0;
}

.tableHeading {
  border-bottom: 1px solid #c9c9c9;
}

.textRight {
  align-items: flex-end;
  > * {
    padding-right: 40%;
  }
}
