.positionWrapper {
  margin-bottom: 40px;
}

.spacing {
  flex: 0 0 auto;
  width: calc(16.6666666% - 10px);
}

.spacingInput {
  flex: 0 0 auto;
  width: calc(16.6666666% * 2 - 10px);
}

.item {
  display: flex;
  gap: 10px;
}

.tableItem {
  composes: tableItem from "./Item.module.scss";

  :global(.extended-input) {
    width: 75%;
  }
}

.tableHeading {
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 5px;
}

.textRight {
  align-items: flex-end;
  > * {
    padding-right: 40%;
  }
}

.spacingTop {
  margin-top: 12px;
}
