.midText {
  font-size: 15px;
}
.smallText {
  font-size: 14px;
}

.lightText {
  color: #AAA;
}

.socialLinkWrapper {
  display: flex;
  align-items: center;
}

.socialIcon {
  display: flex;
  width: 22px;
}

.socialName {
  margin-left: 1rem;
}

.socialLink {
  margin-left: 1rem;
}

.swayAvailable {
  display: flex;
  align-items: center;
  line-height: 1;

  img {
    margin-right: 10px;
  }
}

.amount {
  margin-left: 10px;
}
