// Bootstrap variables
$font-family-base: 'Anaheim', sans-serif;
$body-color: #232323;
$container-max-widths: (
  xxl: 1140px
);
$modal-content-border-color: #000;
$modal-header-border-width: 0;
$modal-header-padding: 2rem;
$modal-inner-padding: 2rem;
$modal-lg: 640px;

// Bootstrap imports
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/modal";

// font-family
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');


.gx-6 {
  --bs-gutter-x: 4rem;
}

.overview-item {
  margin-bottom: 0.5rem;
  .overview-item-name {
    display: inline-block;
    margin-right: 20px;
  }

  .overview-item-value {
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
  }
}

.overview-item-title {
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

button {
  border: 0;
  background: none;
}

input,
select {
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid #606060;
  outline: 0;
  width: 100%;

  &:focus {
    border: 1px solid #000;
  }
}

.btn {
  border: 1px solid #232323;
  padding: 1px 12px;
  position: relative;
  background-color: #444;
  color: #fff;
  transition: all 0.1s linear;
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: 100px;

  &:after,
  &:before {
    position: absolute;
    content: '';
    z-index: 1;
    transition: all 0.1s linear;
    background-color: #FAF9F5;
    border-style: solid;
    border-color: #aaa;
  }

  &:before {
    top: -2px;
    right: calc(100% + 1px);
    height: calc(100% + 2px);
    width: 10px;
    transform: matrix(1, -1, 0, 1, 0, 1);
    transform-origin: right top;
    border-width: 1px 0 0 1px;
  }

  &:after {
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    height: 10px;
    transform: matrix(1, 0, -1, 1, 0, 1);
    transform-origin: left top;
    border-width: 0 1px 1px 1px;
  }

  &.btn-secondary {
    background-color: #fff;
    color: #232323;
    border: 1px solid #aaa;
  }

  &:active {
    transform: translateY(2px);

    &:before {
      width: 8px;
    }

    &:after {
      height: 8px;
    }
  }
}

.btn-link {
  color: $link-color;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.loading-item {
  height: 70px;
  width: 100%;
  display: block;
  background-color: #efefef;
  margin: 2em 0;
  border-radius: 4px;
}

.footer-section {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    &:after {
      padding-left: 10px;
      content: '|';
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: #232323;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);

  .mid-text {
    font-size: 15px;
  }
  .small-text {
    font-size: 14px;
  }

  .close {
    font-size: 24px;
  }
}

.form-group {
  margin-bottom: 1rem;
  align-items: center;
}
