@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

$font-family-base: 'Anaheim', sans-serif;
$body-color: #232323;
$container-max-widths: (
  xxl: 1140px
);

// Bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';
//@import '~bootstrap/scss/helpers';
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

.gx-6 {
  --bs-gutter-x: 4rem;
}

.overview-item {
  margin-bottom: 0.5rem;
  .overview-item-name {
    display: inline-block;
    margin-right: 20px;
  }

  .overview-item-value {
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
  }
}

.overview-item-title {
  font-weight: 500;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.btn {
  border: 1px solid #232323;
  padding: 1px 12px;
  position: relative;
  background-color: #444;
  color: #fff;
  transition: all 0.1s linear;

  &:after,
  &:before {
    position: absolute;
    content: '';
    z-index: 1;
    transition: all 0.1s linear;
  }

  &:before {
    top: -2px;
    right: calc(100% + 1px);
    height: calc(100% + 2px);
    width: 10px;
    transform: matrix(1, -1, 0, 1, 0, 1);
    transform-origin: right top;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #aaa;
    background: #fff;
  }

  &:after {
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    height: 10px;
    transform: matrix(1, 0, -1, 1, 0, 1);
    transform-origin: left top;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #aaa;
    background: #fff;
  }

  &.btn-secondary {
    background-color: #fff;
    color: #232323;
    border: 1px solid #aaa;
  }

  &:active {
    transform: translateY(2px);

    &:before {
      width: 8px;
    }

    &:after {
      height: 8px;
    }
  }
}

.loading-item {
  height: 70px;
  width: 100%;
  display: block;
  background-color: #efefef;
  margin: 2em 0;
  border-radius: 4px;
}

.footer-section {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    &:after {
      padding-left: 10px;
      content: '|';
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: #232323;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
