@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

$font-family-base: 'Anaheim', sans-serif;
$body-color: #232323;

// Bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

.question-item {
  span {
    font-size: 20px;
    margin-right: 6px;
  }
  .question-opened {
    transform: rotate(90deg);
    display: inline-block;
  }
}

.overview-item {
  .overview-item-name {
    display: inline-block;
    margin-right: 20px;
  }

  .overview-item-value {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
  }
}

.overview-item-title {
  font-weight: 500;
}
